*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  border: 1px solid;
}

h1,h3,p{
  text-align: center;
  padding: 10px;
}

img{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  
}